.answerBody {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 8px;
  color: #333;
  background-color: #f9f9f9;
  padding: 4px;
  border-radius: 5px;
  word-wrap: break-word;
  white-space: pre-wrap;
}