/* 質問詳細全体のコンテナ */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* 質問のタイトル */
.title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* タグ */
.tag {
  display: inline-block;
  background-color: #1e90ff;
  color: #fff;
  padding:2px 2px;
  border-radius: 20px;
  font-size: 0.875rem;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* 質問の本文 */
.questionBody {
  font-size: 20px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* 質問者情報 */
.userInfo {
  font-size: 0.875rem;
  color: #999;
  margin-bottom: 10px;
}

/* 回答部分のカード */
.answerCard {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fafafa;
}

/* 回答者情報 */
.answerUserInfo {
  font-size: 0.875rem;
  color: #777;
  margin-bottom: 10px;
}

/* 回答の本文 */
.answerBody {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
  line-height: 1.6;
}

/* いいねボタン */
.likeButton {
  display: flex;
  align-items: center;
  color: #999;
  cursor: pointer;
  transition: color 0.3s ease;
}

.likeButton:hover {
  color: #f56565; /* ホバー時の色 */
}

/* ベストアンサーラベル */
.bestAnswerLabel {
  color: #f56565;
  font-weight: bold;
}

/* 回答投稿ボタン */
.postAnswerButton {
  background-color: #ff9900;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.postAnswerButton:hover {
  background-color: #e68a00;
}

/* 質問一覧に戻るリンク */
.backToList {
  color: #1e90ff;
  font-size: 0.875rem;
  text-decoration: underline;
  cursor: pointer;
}

.backToList:hover {
  color: #0056b3;
}

.hover-container {
  position: relative;
}

.hover-container img {
  width: 100%;
  height: auto;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hover-container:hover .hover-text {
  opacity: 1;
}
